// nextflow.config
docker {
    enabled = true
    // Ensure the mount path matches exactly where your snpEff/data folder is
    runOptions = "-u \$(id -u):\$(id -g) -v /home/ricky/snpEff/data:/mnt/snpeff_data"
}

process {
    withName: 'read_alignment' {
        container = 'dukegcb/bwa-samtools:latest'
    }
    
    withName: 'variant_fre' {
        container = 'staphb/freebayes:1.3.6'
    }

    withName: 'snpeff_annotate' {
        // FIX: Use 'latest' or '5.1' as staphb usually tags this way
        container = 'staphb/snpeff:latest'
    }
    
    container = 'staphb/samtools:1.20'
}

